<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <nav>
        <a href="./">Home</a>
        <a href="/about">About</a>
    </nav>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <p><%= text %></p>
</body>
</html>